{% if site.status_bar_color != false %}
    <meta name="theme-color" content="{{ site.status_bar-color }}" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
{% else %}
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
{% endif %}

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />

{% comment %} Uses <title> if unspecified
    <meta name="apple-mobile-web-app-title" content="{( site.name }}">
{% endcomment %}

    <!-- Icons -->
    <link rel="shortcut icon" sizes="16x16" href="/static/icons/favicon.ico" />
    <link rel="shortcut icon" sizes="192x192" href="/static/icons/196x196.png" />
{% for size in site.apple_icon_sizes %}
    <link rel="apple-touch-icon" sizes="{{ size }}"
        href="/static/icons/{{ size }}.png" />
{% endfor %}
    <!-- Startup images -->
