    {% if page.author %}
        {% if site.data.people[page.author].twitter %}
            <meta name="twitter:creator" content="@{{ site.data.people[page.author].twitter }}" />
        {% else %}
            <meta name="twitter:creator" content="@HafniaTimes" />
        {% endif %}
    {% else %}
        <meta name="twitter:creator" content="@pessimism" />
    {% endif %}
        <meta name="twitter:site" content="@HafniaTimes" />
        <meta property="og:title" content="{{ page_title }}" />
    {% if page.excerpt %}
        <meta property="og:description" content="{{ page.excerpt | markdownify | strip_html }}" />
        <meta property="twitter:description" content="{{ page.excerpt | markdownify | strip_html }}" />
    {% else %}
        <meta property="og:description" content="{{ t.frontpage[page_language].description }}" />
        <meta property="twitter:text:description" content="{{ t.frontpage[page_language].description }}" />
    {% endif %}
    {% if page.url %}
        <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
    {% endif %}
    {% if layout.section != "frontpage" %}
        <meta property="og:type" content="article" />
    {% endif %}
    {% if page.image %}
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="thumbnail" content="{{ site.url }}{{ base_relative }}assets/{{ page.slug }}/hotlink-ok/image.png" />
        <meta property="og:image:secure_url" content="{{ site.url }}{{ base_relative }}assets/{{ page.slug }}/image.png" />
        <meta property="og:image" content="{{ site.url }}{{ base_relative }}assets/{{ page.slug }}/hotlink-ok/image.png" />
    {% else %}
        <meta name="twitter:card" content="summary" />
        <meta property="og:image:secure_url" content="{{ site.url }}/static/icons/hotlink-ok/identicon.png" />
        <meta property="og:image" content="{{ site.url }}/static/icons/hotlink-ok/identicon.png" />
        <meta property="og:image:width" content="420" />
        <meta property="og:image:height" content="420" />
    {% endif %}
        <meta property="og:image:type" content="image/png" />
        <meta property="og:locale" content="{{ page_language }}" />
