body {
    font: #{$fontSize}/#{$lineHeight} $font;
    color: $black;
}

mark,
.highlight { // span.highlight
    background-color: #FFA;
}

#container {
    margin: 0 auto;
    @include box-sizing;
    @if $boxPaddingHor != 0 { width: $containerWidth; }
    @else { width: $containerWidth + 2*$padding; }
}

#padder {
    @include box-sizing;
    //! Temporary hotfix
    // @if $boxPaddingHor != 0 { margin: 0; }
    // @else { margin: 0 $boxPaddingHor; }
    margin: 0 $padding;
}

.row {
    float: left;
    clear: both;

    width: 100%;
    @include clearfix;
}

.box {
    display: inline-block;
    float: left;

    padding: $boxPaddingVer $boxPaddingHor;

    width: 100%;
    @include clearfix;
    @include box-sizing;
}
