$font: Georgia, serif;

$blue:  #7F8EBC;
$black: #555;

$containerWidth: 650px;
$mobileWidth:    600px;

$boxPaddingVer: 2.5em;
$boxPaddingHor:     0;
$padding:        20px;

$fontSize:   16px;
$lineHeight: 1.5 * $fontSize; // 21px

$avatarSize:       125px;
$avatarSizeMobile:  75px;
$avatarShape: "circle";  // "rounded"

// Desktop
$navigationSize: 16px;
$nameH1Size:     48px;
$footerSize:     12px;

$postTitleSize:  24px;
$postBylineSize: 14px;
$postUpdateSize: 14px;

// Mobile
$mobileNavigationSize: $navigationSize;
$mobilenameH1Size:     $nameH1Size;
