$font: Georgia, serif;

$blue:  #7F8EBC;
$black: #555;

$containerWidth: 600px;
$mobileWidth:    599px;

$boxPadding: 2.5em;
$padding:    20px;

$fontSize:   14px;
$lineHeight: 1.5 * $fontSize; // 21px

$avatarSize:  125px;
$avatarShape: "circle";  // "rounded"

$navigationSize: 14px;
$nameH1Size:     32px;
$footerSize:     12px;

$postTitleSize: 24px;
