$font: Georgia, serif;

$blue:  #7F8EBC;
$black: #555;
$grey:  rgba(215, 215, 215, .7);

$containerWidth: 650px;
$mobileWidth:    600px;
$maxMobileWidth: 450px;

$boxPaddingVer: 2.5em;
$boxPaddingHor:     0;
$padding:        20px;

$fontSize:   16px;
$lineHeight: 1.5 * $fontSize; // 21px

$mobileFontSize:   10px; //!
$mobileLineHeight: $mobileFontSize*1.5;

$avatarSize:       125px;
$avatarSizeMobile:  75px;
$avatarShape: "circle";  // "rounded"

$blockquoteBorder: 3px;

// Desktop
$navigationSize: 16px;
$nameH1Size:     48px;
$footerSize:     12px;

$postTitleSize:       24px;
$postBylineSize:      16px;
$postUpdateSize:      14px;

// Mobile
$mobileNavigationSize: $navigationSize;
$mobilenameH1Size:     $nameH1Size;
