@mixin mobile-mq() {
    body {
        font-size: $mobileFontSize;
        line-height: $mobileLineHeight; //!
    }

    #container {
        width: 100%;
        max-width: $maxMobileWidth;
    }

    #site-navigation.box {
        @include getFontSize($mobileNavigationSize);
        font-weight: bold;
        background-color: #F8F8F8;

        li a { padding: 0 .75em; }

        #dyslexia-mode { display: none; }
    }

    #name h1 { @include getVerticalRhythm($mobilenameH1Size); }

    #info.box {
        float: left;
        clear: both;
    }

    .post {
        img.avatar {
            width: $avatarSizeMobile;
            height: $avatarSizeMobile;
        }
    }
}

@media only screen {
    @media (max-device-width: $mobileWidth) { @include mobile-mq; }
    @media (-webkit-device-pixel-ratio: 3)  { @include mobile-mq; }

    // iPhone 5+
    // @media #{$mediaQueryiPhoneLarge} { @include iphone-mq; }

    // iPhone <5
    // @media #{$mediaQueryiPhoneSmall} { @include iphone-mq; }

    // iPad
    // @media #{$mediaQueryiPad} { }
}
