body { color: #000 !important; }

#site-navigation,
.translations,
#footer {
    display: none;
}

#site-navigation {
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}

.post {
    img.avatar { border: none !important; }

    .updated,
    .post-content {
        a,
        &:visited,
        &:active {
            color: #000 !important;
            font-weight: normal;
            text-decoration: underline;
            background-color: #FFF !important;
            padding: 0;
        }
    }

    .updated {
        border: 1px solid #000 !important;
        background-color: #FFF !important;
    }

    .post-content a.reversefootnote { display: none; }
}

img,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
blockquote {
    page-break-inside: avoid;
}

p,
h1,
h2,
h3,
h4,
h5 {
    orphans: 3; widows: 3;
}

h1,
h2,
h3,
h4,
h5 {
    page-break-after: avoid;
}
