@import "_reset";
@import "_config";
@import "_constants";
@import "_mixins";
@import "_base";

%a {
    text-decoration: none;
    color: $black;

    &:visited,
    &:hover,
    &:active { color: $black; }
}

//!
#articles,
#linked-articles,
#footer {
    padding-top: 0;
}

#site-navigation {
    @include getFontSize($navigationSize);
    @include padding-fix;

    &.box {
        text-align: center;
        padding: .5em 0;
    }

    a {
        @extend %a;
        display: inline-block;
        padding: 0 1em;
    }
}

#name h1 {
    @include getVerticalRhythm($nameH1Size);
    text-align: center;

    a { @extend %a; }
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Palatino Linotype", $font;
}

#frontpage {
    h2 { margin-bottom: 16px; }  //! Check box-sizing

    #articles,
    #linked-articles {
        h2 { text-align: center; }
        li {
            list-style: none;
            clear: both;
        }

        time.article-date {
            float: left;
            text-align: right;
            width: 25%;
        }

        span.article-link {
            float: left;
            margin-left: 1em; //!
            width: 70%;

            a { color: $blue !important; }
        }
    }
}

.post {
    .date { font-variant: small-caps; }

    img.avatar,
    .byline,
    .translators {
        text-align: center;
    }

    img.avatar {
        display: block;

        padding: 5px;

        height: $avatarSize;
        width: $avatarSize;

        border: 1px solid beige;

        @if $avatarShape == "circle" {
            @include border-radius(50%);
        } @elseif $avatarShape == "rounded" {
            @include border-radius(5px);
        } // @else == square

        @include center;
    }

    .byline,
    .translators {
        @include getVerticalRhythm($postBylineSize);
        font-weight: normal;
        font-variant: small-caps;

        a { @extend %a; }
    }

    .translations {
        font-variant: small-caps;
        margin: $padding 0;
        @include center;

        li {
            list-style: none;
            display: inline-block;
            text-align: center;

            padding: 5px 10px;

            border: 1px solid $black;
            @include border-radius(5px);

            &:hover {
                background-color: $greyHex;
                background-color: $grey;
            }
        }

        a { @extend %a; }
    }

    h2 {
        @include getVerticalRhythm($postTitleSize);
        font-family: "Palatino Linotype", $font;
    }

    h3 { //!
        margin-top: 1em;
        margin-bottom: .33em;
    }

    h4 { font-style: italic; } //!
    h5 { font: small-caps bold #{$fontSize}/#{$lineHeight} $font; } //!

    .updated.box {
        @include getVerticalRhythm($postUpdateSize);
        background-color: beige;

        display: block;
        float: none;
        text-align: center;

        margin: $padding auto;
        padding: .75em;

        width: 85%;

        border: 1px solid steelblue;

        a,
        &:active,
        &:visited {
            color: $black;
        }
    }

    .post-content {
        a {
            @extend %a;

            &,
            &:active,
            &:visited {
                background-color: $greyHex;
                background-color: $grey;
            }

            &:hover {
                background-color: $yellow;
            }

            &[href$="png"],
            &[href$="jpg"],
            &[href$="jpeg"],
            &[href$="gif"],
            &[href$="webp"] {
                padding: 0;  // Removes border around linked images
            }
        }

        blockquote {
            margin: $padding 0;
            padding: 0 $padding 0 $padding + $blockquoteBorder;
            border-left: 3px solid $greyHex;
            border-left: 3px solid $grey;
        }

        li blockquote { margin: $padding; }
        li li { margin-left: $padding; }

        img {
            display: block;

            margin-right: auto;
            margin-left: auto;

            height: auto;

            max-width: 100%;
        }

        table {
            // font: #{$font-size-smaller}/#{$line-height-smaller} Georgia;
            // font: .8em/1.6em Georgia; //
            color: $table-font;

            margin-right: auto;
            margin-left: auto;

            border-collapse: collapse;
            border-spacing: 0;

            border-top: 2px solid #333;
            border-bottom: 2px solid #333;

            caption {
                /* stylelint-disable max-line-length */
                // font: #{$font-size-larger}/#{$line-height-larger} Georgia small-caps;
                // font: 1.2em/1.4em Georgia small-caps; //
                /* stylelint-enable max-line-length */
                background-color: $table-faded-blue;

                text-align: center;

                margin-left: 0 auto;
                padding: 3px 10px;
                caption-side: top;
            }

            thead th {
                font-weight: normal;
                padding-top: $cell-spacing-ver;
                border-bottom: 1px solid #333;
            }

            thead th,
            td {
                text-align: right;
                padding-left: $cell-padding-hor;
                padding-right: $cell-padding-hor;
            }

            td,
            th,
            tr {
                vertical-align: middle;
            }

            tbody tr:first-child td {
                padding-top: $cell-spacing-ver;
            }

            tbody tr:last-child td {
                padding-bottom: $cell-spacing-ver;
            }

            td:hover,
            th:hover { background-color: $table-mm; }

            tr:hover { background-color: $table-yellow; }
        }

        .embed { margin: $padding auto; }

        .footnotes {
            border-top: $footnoteBorder solid $greyHex;
            border-top: $footnoteBorder solid $grey;
        }

        hr {
            background: $greyHex;
            background: $grey;

            height: $footnoteBorder;

            border: none;
        }
    }
}

hr.separator { display: none; }

#footer {
    @include getFontSize($footerSize);
    @include center;

    a { @extend %a; }
}

// Hotfixes
div.footnotes,
h4,
hr,
ol,
ul,
table {
    margin-top: 1em;
}

ol ol,
ul ul,
ol ul,
ul ol {
    margin-top: 0;
}


@import "_responsive";
