@import "_reset";
@import "_config";
@import "_constants";
@import "_mixins";
@import "_base";

%a {
    text-decoration: none;
    color: $black;

    &:visited,
    &:hover,
    &:active { color: $black; }
}

#site-navigation {
    @include getFontSize($navigationSize);
    text-align: right;
    margin-top: 0 !important; //!
    @include padding-fix;

    &.box { padding: .5em 2em; }

    li {
        display: inline-block;

        a {
            @extend %a;
            display: inline-block;
            padding: 0 1em;
        }
    }
}

#name h1 {
    @include getVerticalRhythm($nameH1Size);
    text-align: center;

    a { @extend %a; }
}

h1,
h2 {
    font-family: "Palatino Linotype", $font;
}

#articles {
    h2 { text-align: center; }
    a  { color: $blue !important; }
    ul {
        text-align: center;
        li { list-style: none; }
    }
}

.post {
    .date { font-variant: small-caps; }

    img.avatar,
    .byline {
        text-align: center;
    }

    img.avatar {
        width: $avatarSize;
        height: $avatarSize;
        @if $avatarShape == "circle" {
            @include border-radius(50%);
        } @elseif $avatarShape == "rounded" {
            @include border-radius(5px);
        } // @else == square
        @include center;
        display: block;
        // Add circle around avatar
        border: 1px solid beige;
        padding: 5px;
    }

    .byline {
        @include getVerticalRhythm($postBylineSize);
        font-variant: small-caps;
        font-weight: normal;
    }

    .translators {
        @extend .byline;
    }

    .translations {
        font-variant: small-caps;
        @include center();

        li {
            display: inline-block;
            text-align: center;
            list-style: none;

            padding: 5px 10px;
            border: 1px solid $black;
            @include border-radius(5px);

            &:hover { background-color: rgba(215, 215, 215, .7); }
        }

        a { @extend %a; }
    }

    h2 {
        @include getVerticalRhythm($postTitleSize);
        font-family: "Palatino Linotype", $font;
    }

    .updated.box {
        @include getVerticalRhythm($postUpdateSize);
        background-color: beige;
        border: 1px solid steelblue;

        padding: .75em;

        float: none;
        margin: $padding auto;

        display: block;

        width: 85%;
        text-align: center;

        a,
        &:active,
        &:visited {
            color: $black;
        }
    }

    .post-content a {
        @extend %a;
        padding: 0 3px;

        &,
        &:active,
        &:visited {
            background-color: rgba(215, 215, 215, .7);
        }

        &:hover {
            background-color: orange;
        }
    }
}

#footer {
    @include getFontSize($footerSize);
    @include center;

    a { @extend %a; }
}

@import "_responsive";
