{% assign t = site.translations %}

{% if page.lang %}
    {% assign page_language = page.lang %}
{% else %}
    {% assign page_language = "en" %}
{% endif %}

{% if page.title %}
    {% assign page_title = page.title %}
{% else %}
    {% assign page_title = site.name %}
{% endif %}

{% if page_language != "en" %}
    {% assign base_relative = "/" | append: page.lang | append: "/" %}
{% else %}
    {% assign base_relative = "/" %}
{% endif %}

<!DOCTYPE html>
<html lang="{{ page_language }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ page_title }}</title>
        <link rel="canonical" href="{{ page.url }}" />
    {% if page.section == "frontpage" %}
        <link rel="shorturl" href="http://hafnia.co{% if page.lang != "en" %}/{{ page.lang }}{% endif %}" />
    {% endif %}
        <link href="/static/css/style.css" rel="stylesheet" type="text/css" />
        <link href="/static/css/print.css" rel="stylesheet" type="text/css" media="print" />
        <link rel="shortcut icon" href="/favicon.ico" />
    {% for l in site.languages %}
        <link
            href="{% if l.value != "en" %}/{{ l.value }}{% endif %}/feed.atom"
            rel="alternate"
            title="{{ site.translations._atom[l.value] }}"
            type="application/atom+xml"
        />
    {% endfor %}

    {% if page.section == "frontpage" %}
        {% for l in site.languages %}
            <link
                rel="alternate"
                hreflang="{{ l.value }}"
                href="/{% if l.value != "en" %}{{ l.value }}/{% endif %}"
            />
        {% endfor %}
    {% endif %}
{% comment %}
    {% if page.trans %}
        <link
            rel="alternate"
            hreflang="{{ page.lang }}"
            href="{{ page.url }}"
        />
        {% for t in page.trans %}
            <link
                rel="alternate"
                hreflang="..."
                href="..."
            />
        {% endfor %}
    {% endif %}
{% endcomment %}

    {% if page.author %}
        {% if site.data.people[page.author].twitter %}
            <meta name="twitter:creator" content="@site.data.people[page.author].twitter">
        {% else %}
            <meta name="twitter:creator" content="@HafniaTimes">
        {% endif %}
    {% else %}
        <meta name="twitter:creator" content="@pessimism">
    {% endif %}
        <meta property="og:title" content="{{ page_title }}">
    {% if page.excerpt %}
        <meta property="og:description" content="{{ page.excerpt | markdownify | strip_html }}">
    {% else %}
        <meta property="og:description" content="{{ site.description }}">
    {% endif %}
    {% if page.url %}
        <meta property="og:url" content="{{ site.url }}{{ page.url }}">
    {% endif %}
    {% if page.image %}
        <meta name="twitter:card" content="summary_large_image">
        <meta property="og:image" content="{{ site.url }}/assets/{{ page.slug }}/image.png">
    {% else %}
        <meta name="twitter:card" content="summary">
        <meta property="og:image" content="{{ site.url }}/identicon.png">
    {% endif %}
    </head>
    <body>
        <div id="container">
        <div id="padder">
            {% include site-navigation.html %}

            <div class="box" id="name" role="banner">
                <h1><a href="{{ base_relative }}">{{ site.name }}</a></h1>
            </div>

            {{ content }}

        {% if site.show_footer == true %}
            <div class="box" id="footer" role="contentinfo">
                {% include footer.html %}
            </div>
        {% endif %}
        </div>
        </div>
    {% if site.ga != "UA-XXXXXXXX-Y" %}
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', '{{ site.ga }}', 'hafniatimes.com');
            ga('send', 'pageview');
        </script>
    {% endif %}
    </body>
</html>
