---
layout: default
section: frontpage
---
{% comment %}Do something better than page.section==frontpage for default.html{% endcomment %}
{% assign u = site.translations.frontpage[page.lang] %} {% comment %}Refactor `.frontpage` to [page.layout]{% endcomment %}

<section class="box" id="info" role="region">
    <h2>{{ u.who }}</h2>

    <p>{{ u.description }}</p>
</section>

{% if site.show_posts == true %}
    <section id="articles" class="box" role="region">
        <h2>{{ u.articles }}</h2>

        <ul>
        {% for post in site.posts %}{% if post.lang == page.lang %}
            <li><time class="article-date" datetime="{{ post.date }}" is="time-ago" title="{{ post.date }}">{{ post.date | date_to_string }}</time> <span class="article-link"><a href="{{ post.url }}">{{ post.title | markdownify | strip_html }}</a></span></li>
        {% endif %}{% endfor %}
        </ul>
    </section>
{% endif %}

{% if site.data.links[page.lang] %}
    <section id="linked-articles" class="box" role="region">
        <h2>{{ u.linked_articles }}</h2>

        <ul>
        {% for link in site.data.links[page.lang] %}
            <li><time class="article-date" datetime="{{ link.date | date: "%Y-%m-%d" }}" is="time-ago" title="{{ link.date | date: "%Y-%m-%d" }}">{{ link.date | date_to_string }}</time> <span class="article-link"><a href="{{ link.url }}">{{ link.title | markdownify | strip_html }}</a></span></li>
        {% endfor %}
        </ul>
    </section>
{% endif %}
