---
layout: default
---
<div class="row">
    <div class="post box">
            <h2>{{ page.title }}</h2>
            <div class="date">
                <time datetime="{{ page.date }}" is="time-ago" title="{{ page.date }}">{{ page.date | date: "<strong>%A</strong>, %B %-d %Y" }}</time>
            </div>
            {% if site.show_bylines == true %}
                {% if site.github_hosted == true %}
                    <img
                        class="avatar"
                        src="{% if not site.data.people[page.author].avatar %}https://github.com/{{ page.author }}.png{% else %}site.data.people[page.author].avatar{% endif %}"
                        alt="{{ site.data.people[page.author].name }}"
                        title="{{ site.data.people[page.author].name }}"
                    />
                {% endif %}
                <div class="byline">
                    By {{ site.data.people[page.author].name }}
                </div>
            {% endif %}
            {% if page.updated == true %}
                <div class="updated box">
                    This post has been updated, since it was first published. View all changes <a href="{{ site.repo }}/commits/master/{{ page.path }}">here</a>.
                </div>
            {% endif %}

        <div class="post-content">
            {{ content }}
        </div>
    </div>
</div>
