---
layout: default
---
{% assign u = site.translations.post[page.lang] %}

{% if page.guest == true %}
    {% assign author_name = page.author %}
{% else %}
    {% assign author_name = site.data.people[page.author].name %}
{% endif %}
<div class="row">
    <div class="post box">
            <h2>{{ page.title }}</h2>
            <div class="date">
                <time datetime="{{ page.date }}" is="time-ago" title="{{ page.date }}">{{ page.date | date: "<strong>%A</strong>, %B %-d %Y" }}</time>
            </div>
            {% if site.show_bylines == true %}
                {% if site.github_hosted == true %}
                    <img
                        class="avatar"
                        src="{% if page.guest == true %}/identicon.png{% else %}https://github.com/{{ page.author }}.png{% endif %}"
                        alt="{{ author_name }}"
                        title="{{ author_name }}"
                    />
                {% endif %}
                <div class="byline">
                    {{ u.by }} {{ author_name }}
                </div>
            {% endif %}
            {% if page.updated == true %}
                <div class="updated box">
                    {{ u.update_text }} <a href="{{ site.repo }}/commits/master/{{ page.path }}">{{ u.update_link }}</a>.
                </div>
            {% endif %}

        <div class="post-content">
            {{ content }}
        </div>
    </div>
</div>
